.tab .selection {
  position: absolute;
  left: calc(-1 * var(--tab-grid-gap) / 2);
  right: calc(-1 * var(--tab-grid-gap) / 2);
  top: calc(-1 * var(--tab-grid-gap) / 2 + 2px);
  bottom: calc(-1 * var(--tab-grid-gap) / 2 + 6px);
  border-radius: 5px;
}

.tab:not(.sortable-selected) + .tab.sortable-selected .selection,
:matches(.tab.sortable-selected:first-of-type) .selection {
  border-radius: 5px;
}

.tab.sortable-selected .selection {
  border-radius: 0px 5px 5px 0px;
}

.row-width-4 .tab.sortable-selected:nth-of-type(4n + 1) .selection {
  border-radius: 5px !important;
}

.row-width-4 .tab.sortable-selected:nth-of-type(4n + 1) .selection {
  border-radius: 5px !important;
}

.row-width-5 .tab.sortable-selected:nth-of-type(5n + 1) .selection {
  border-radius: 5px !important;
}

.row-width-5 .tab.sortable-selected:nth-of-type(5n + 1) .selection {
  border-radius: 5px !important;
}

.row-width-6 .tab.sortable-selected:nth-of-type(6n + 1) .selection {
  border-radius: 5px !important;
}

.row-width-6 .tab.sortable-selected:nth-of-type(6n + 1) .selection {
  border-radius: 5px !important;
}

.row-width-7 .tab.sortable-selected:nth-of-type(7n + 1) .selection {
  border-radius: 5px !important;
}

.row-width-7 .tab.sortable-selected:nth-of-type(7n + 1) .selection {
  border-radius: 5px !important;
}

.row-width-8 .tab.sortable-selected:nth-of-type(8n + 1) .selection {
  border-radius: 5px !important;
}

.row-width-8 .tab.sortable-selected:nth-of-type(8n + 1) .selection {
  border-radius: 5px !important;
}

.row-width-9 .tab.sortable-selected:nth-of-type(9n + 1) .selection {
  border-radius: 5px !important;
}

.row-width-9 .tab.sortable-selected:nth-of-type(9n + 1) .selection {
  border-radius: 5px !important;
}

.row-width-10 .tab.sortable-selected:nth-of-type(10n + 1) .selection {
  border-radius: 5px !important;
}

.row-width-10 .tab.sortable-selected:nth-of-type(10n + 1) .selection {
  border-radius: 5px !important;
}

.tab:not(.sortable-selected) + .tab.sortable-selected .selection {
  border-radius: 5px !important;
}

.tab.sortable-selected + .tab.sortable-selected .selection {
  left: calc(-1 * var(--tab-grid-gap) / 2 - 4px);
}

.tab.sortable-ghost {
  opacity: 0;
}

@keyframes zoomin {
  0% {
    transform: scale(1);
    border-radius: 10px;
    z-index: 99999999999;
  }

  100% {
    z-index: 99999999999;
    transform: scale(calc(var(--scale) * 1));
    border-radius: 1px;
  }
}

@keyframes zoomout {
  0% {
    transform: scale(calc(var(--scale) * 1));
    border-radius: 1px;
  }


  100% {
    transform: scale(1);
    border-radius: 10px;
  }
}



.entering-warpspace .current {
  border: none !important;
  transform-origin: var(--left) var(--top);
  z-index: 99999999999;
  position: relative;
  animation: zoomout .20s 0s;
  z-index: 999;
  opacity: 1;
}

.zooming-in, .leaving-warpspace .current {
  border: none !important;
  transform-origin: var(--left) var(--top);
  z-index: 99999999999;
  position: relative;
  animation: zoomin .20s 0s;
  z-index: 999;
  opacity: 1;
}

