@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: transparent;
}
/* @import "./theme.css"; */

input {
  border: none;
  background: none;
}

* {
  @apply ring-offset-ramp-0
}

:root  [type='checkbox']:focus, 
:root [type='radio']:focus,
:root [type='text']:focus {
  @apply ring-offset-ramp-0
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.max-lines-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.max-lines-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.max-lines-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.max-lines-5 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}


