iframe#warpspace-search-injected-app {
  z-index: 2147483647 !important;
  position: fixed !important;
  margin: 0 !important;
  padding: 0 !important;
  max-width: none !important;
  max-height: none !important;
  border: none !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  background: transparent !important;
  color-scheme: none !important;
  user-select: none !important;
  overscroll-behavior: none !important;
}

iframe.warpspace-injected-debug {
  z-index: 2147483646 !important;
  position: fixed !important;
  margin: 0 !important;
  padding: 0 !important;
  max-width: none !important;
  max-height: none !important;
  border: none !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  background: transparent !important;
  color-scheme: none !important;
  user-select: none !important;
  overscroll-behavior: none !important;
  pointer-events: none !important;
}