.theme {
  --tw-ring-offset-color: var(--theme-background);
}

.theme-light {
  --theme-background: white;
  --theme-gray-100: #f0f3f4;
  --theme-gray-200: #e8ebec;
  --theme-gray-300: #dddedf;
  --theme-gray-400: #b9bcbe;
  --theme-gray-500: #8b8e92;
  --theme-gray-600: #696a6c;
  --theme-gray-700: #5f6367;
  --theme-gray-800: #414548;
  --theme-gray-900: #202124;

  --highlight-color: #b3d7ff;
  --select-color: #51a1fd;
  --focus-color: #4384f4;
}

.theme-light.note-theme-red {
  --note-theme-100: #202124;
  --note-theme-200: #35363a;
  --note-theme-300: #5f6367;
  --note-theme-400: #606164;
  --note-theme-500: #86888a;
  --note-theme-600: #b9bcbe;
  --note-theme-700: #dddedf;
  --note-theme-800: #e8ebec;
  --note-theme-900: #f0f3f4;
}

.theme-light.note-theme-yellow {
  --note-theme-100: #fef6e6;
  --note-theme-200: #35363a;
  --note-theme-300: #5f6367;
  --note-theme-400: #606164;
  --note-theme-500: #86888a;
  --note-theme-600: #b9bcbe;
  --note-theme-700: #dddedf;
  --note-theme-800: #e8ebec;
  --note-theme-900: #f0f3f4;
}

.theme-light.note-theme-green {
  --note-theme-100: #202124;
  --note-theme-200: #35363a;
  --note-theme-300: #5f6367;
  --note-theme-400: #606164;
  --note-theme-500: #86888a;
  --note-theme-600: #b9bcbe;
  --note-theme-700: #dddedf;
  --note-theme-800: #e8ebec;
  --note-theme-900: #f0f3f4;
}

.theme-light.note-theme-blue {
  --note-theme-100: #f2f8fe;
  --note-theme-200: #35363a;
  --note-theme-300: #5f6367;
  --note-theme-400: #606164;
  --note-theme-500: #86888a;
  --note-theme-600: #b9bcbe;
  --note-theme-700: #dddedf;
  --note-theme-800: #e8ebec;
  --note-theme-900: #f0f3f4;
}

.theme-light.note-theme-purple {
  --note-theme-100: #202124;
  --note-theme-200: #35363a;
  --note-theme-300: #5f6367;
  --note-theme-400: #606164;
  --note-theme-500: #86888a;
  --note-theme-600: #b9bcbe;
  --note-theme-700: #dddedf;
  --note-theme-800: #e8ebec;
  --note-theme-900: #f0f3f4;
}

.theme-dark {
  --theme-background: #202124;

  --theme-gray-100: #202124;
  --theme-gray-200: #35363a;
  --theme-gray-300: #5f6367;
  --theme-gray-400: #606164;
  --theme-gray-500: #86888a;
  --theme-gray-600: #b9bcbe;
  --theme-gray-700: #dddedf;
  --theme-gray-800: #e8ebec;
  --theme-gray-900: #f0f3f4;

  --highlight-color: #2b4766;
  --focus-color: #4384f4;
}

.theme-black {
  --theme-background: #000000;

  --theme-gray-100: #111;
  --theme-gray-200: #35363a;
  --theme-gray-300: #5f6367;
  --theme-gray-400: #606164;
  --theme-gray-500: #86888a;
  --theme-gray-600: #b9bcbe;
  --theme-gray-700: #dddedf;
  --theme-gray-800: #e8ebec;
  --theme-gray-900: #f0f3f4;

  --highlight-color: #523218;
  --focus-color: #ef7719;
}

.row-width-4 {
  --tabs-per-row: 4;
}
.row-width-5s {
  --tabs-per-row: 5;
}
.row-width-6 {
  --tabs-per-row: 6;
}
.row-width-7 {
  --tabs-per-row: 7;
}
.row-width-8 {
  --tabs-per-row: 8;
}
.row-width-9 {
  --tabs-per-row: 9;
}
.row-width-10 {
  --tabs-per-row: 10;
}
