@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  background: none;
}

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  user-select: none;
}

#root {
  height: 100;
  height: 100vh;
  width: 100vw;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
